---
import GithubIcon from "./icons/GithubIcon.astro"
import CloseIcon from "./icons/CloseIcon.astro"

const navItems = [
  {
    title: "Projects",
    href: "#Project",
  },
  {
    title: "Tools & Skills",
    href: "#Skills",
  },
  {
    title: "Contact",
    href: "#Contact",
  },
]
---

<header
  id="nav"
  class="fixed top-0 left-0 z-50 w-full h-[72px] flex items-center justify-center backdrop-blur-sm border-b-[1px] border-white/20 xs:h-[100dvh] xs:w-[85%] xs:backdrop-blur-none xs:bg-[#070707] xs:border-r-[1px] xs:border-r-white/20 xs:items-start xs:justify-start xs:-translate-x-full transition-all duration-700"
>
  <nav
    class="relative w-[70%] h-full flex items-center justify-evenly flex-row xxl:w-[95%] xs:w-full xs:flex-col xs:justify-start xs:items-start"
  >
    <div id="closeNav" class="absolute right-0 top-3 hidden xs:block">
      <CloseIcon />
    </div>
    <div class="w-1/4 h-full flex items-center justify-start xs:w-max xs:h-max">
      <a
        href="#Home"
        class="bg-clip-text text-transparent bg-text-gradient text-xl font-semibold cursor-pointer select-none ms:text-base xs:absolute xs:top-3 xs:left-3"
      >
        Tintaa
      </a>
    </div>
    <div
      class="w-2/4 h-full flex items-center justify-center xs:h-max xs:w-full xs:justify-center xs:items-center sm:w-3/4"
    >
      <ul
        class="flex flex-row gap-16 xs:flex-col xs:items-center xs:mt-24 xs:gap-12 xs:w-full sm:gap-8"
      >
        {
          navItems.map((item) => (
            <div class="xs:w-full xs:h-max xs:flex xs:flex-col xs:gap-2">
              <li class="mx-3">
                <a
                  id="navLink"
                  href={item.href}
                  class="text-white/80 text-lg font-medium cursor-pointer hover:text-primary transition-colors duration-150 ms:text-base sm:ms:text-sm"
                >
                  {item.title}
                </a>
              </li>
              <div class="w-full h-[1px] bg-white/20 hidden xs:block" />
            </div>
          ))
        }
      </ul>
    </div>
    <div class="w-1/4 flex items-center justify-end flex-row gap-10 xs:hidden">
      <a target="_blank" href="https://github.com/Tintaa307" class="xs:ml-3">
        <GithubIcon />
      </a>
    </div>
  </nav>
</header>

<script>
  const closeNav = document.getElementById("closeNav")!
  const nav = document.getElementById("nav")!
  const navLink = document.getElementById("navLink")!

  closeNav.addEventListener("click", () => {
    nav.classList.remove("active")
  })

  navLink.addEventListener("click", () => {
    nav.classList.remove("active")
  })
</script>
