---
import Card from "./Card.astro"

type Tag = {
  name: string
}

const firstCardTags = [
  {
    name: "Next.Js",
  },
  {
    name: "TypeScript",
  },
  {
    name: "TailwindCSS",
  },
  {
    name: "Redis",
  },
] as Tag[]

const secondCardTags = [
  {
    name: "Next.Js",
  },
  {
    name: "TypeScript",
  },
  {
    name: "TailwindCSS",
  },
  {
    name: "Redis",
  },
] as Tag[]

const ThirdCardTags = [
  {
    name: "Next.Js",
  },
  {
    name: "TypeScript",
  },
  {
    name: "TailwindCSS",
  },
  {
    name: "PlanetScale",
  },
  {
    name: "Prisma",
  },
] as Tag[]

const FourthCardTags = [
  {
    name: "Next.Js",
  },
  {
    name: "TypeScript",
  },
  {
    name: "TailwindCSS",
  },
] as Tag[]
---

<section class="w-full h-max flex items-center justify-center">
  <div
    id="Project"
    class="w-[70%] h-full flex items-start justify-center flex-col gap-8 animate-fade-in-y xxl:w-[95%] ms:items-center"
  >
    <div class="w-full h-max flex items-center justify-start ms:justify-center">
      <h3 class="text-white/80 text-3xl font-medium mt-24">
        My <span class="text-primary">prominent</span> projects
      </h3>
    </div>
    <div
      class="w-full h-full grid grid-cols-3 place-items-center gap-3 lg:grid-cols-2 sm:lg:grid-cols-1"
    >
      <Card
        title="Asistant chatbot"
        description="This is a chatbot helper to support or manage your webapps and give a better user experience."
        image="chatbot-image.jpg"
        tags={firstCardTags}
        github="https://github.com/Tintaa307/chatbot"
      />
      <Card
        title="Pillwise realtime chat"
        description="Application for chatting with your doctor or other individuals."
        image="pillwise-chat.jpg"
        tags={secondCardTags}
        github="https://github.com/Tintaa307/chatbot"
      />
      <Card
        title="Pillwise application"
        description="Progressive wep app designed to remind its users to take their medications and much more."
        image="landing-pillwise.jpg"
        tags={ThirdCardTags}
        github="https://github.com/Tintaa307/pillwise"
      />
      <Card
        title="Realtime whiteboard"
        description="Drawing Online is a real-time collaborative application where users can create diagrams, shapes, and drawings directly in the browser."
        image="drawing-online-image.png"
        tags={FourthCardTags}
        github="https://github.com/Tintaa307/drawing-online"
      />
    </div>
  </div>
</section>
