---
import FolderIcon from "./icons/FolderIcon.astro"
import FileIcon from "./icons/FileIcon.astro"
---

<section id="Skills" class="w-full h-max flex items-center justify-center">
  <div
    class="w-[70%] h-full flex items-start justify-center flex-col gap-12 xxl:w-[95%] ms:items-center"
  >
    <div class="w-full h-max flex items-center justify-start ms:justify-center">
      <h3 class="text-white/80 text-3xl font-medium mt-28">
        My <span class="text-primary">Stack</span> 2024
      </h3>
    </div>
    <div
      class="w-full h-max flex items-start justify-start flex-row ms:justify-center ms:items-center sm:flex-col sm:gap-12 xs:ms:items-start"
    >
      <div class="w-1/2 h-max flex items-start justify-center flex-col gap-1">
        <h4
          class="text-white/80 text-lg flex items-center justify-center flex-row gap-2"
        >
          <FolderIcon />
          Frontend
        </h4>
        <span
          class="w-[1.5px] h-max bg-white/30 flex justify-start flex-col gap-8"
        >
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1 mt-4"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Frameworks
            </h4>
            <span
              class="w-[1px] h-[200px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://nextjs.org"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Next.js
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://astro.build"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Astro
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://vitejs.dev"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Vitejs
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://tailwindcss.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Tailwindcss
                </a>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Languages
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://developer.mozilla.org/es/docs/Web/HTML"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  HTML
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://developer.mozilla.org/es/docs/Web/CSS"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  CSS
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  <a
                    target="_blank"
                    href="https://developer.mozilla.org/es/docs/Web/JavaScript"
                    >Javascript</a
                  > & <a target="_blank" href="https://www.typescriptlang.org"
                    >Typescript</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Libraries
            </h4>
            <span
              class="w-[1px] h-[320px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.framer.com/motion/"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Framer motion
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  <a target="_blank" href="https://tanstack.com/query/v3/"
                    >React query</a
                  >
                  &
                  <a target="_blank" href="https://react-hook-form.com"
                    >React hook form</a
                  >
                </h4>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://zod.dev"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Zod
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://turbo.build"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Turbopack
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://next-auth.js.org"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Next-Auth
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://threejs.org"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  ThreeJs
                </a>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div
        class="w-1/2 h-max flex items-center justify-center flex-col gap-1 lg:items-start lg:ml-24 sm:lg:ml-0"
      >
        <h4
          class="text-white/80 text-lg flex items-center justify-center flex-row gap-2"
        >
          <FolderIcon />
          Backend
        </h4>
        <span
          class="w-[1.5px] h-max bg-white/30 flex justify-start flex-col gap-8"
        >
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1 mt-4"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Frameworks
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://expressjs.com/es/"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Express
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://nestjs.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Nestjs
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://fastapi.tiangolo.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  FastAPI
                </a>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Languages
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  <a target="_blank" href="https://www.typescriptlang.org"
                    >Typescript</a
                  >
                </h4>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.python.org"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Python
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  <a
                    target="_blank"
                    href="https://developer.mozilla.org/es/docs/Glossary/SQL"
                    >SQL</a
                  > & <a target="_blank" href="https://www.postgresql.org"
                    >Postgres</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Libraries
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.prisma.io"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Prisma
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://orm.drizzle.team"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Drizzle
                </a>
              </div>

              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  <a target="_blank" href="https://jwt.io">JWT</a> & <a
                    target="_blank"
                    href="https://www.npmjs.com/package/bcrypt">Bcrypt</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Databases
            </h4>
            <span
              class="w-[1px] h-[155px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://planetscale.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  PlanetScale
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://supabase.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Supabase
                </a>
              </div>

              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://upstash.com"
                  class="text-primary/90 underline cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FileIcon />
                  Upstash
                </a>
              </div>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
