---
import FolderIcon from "./icons/FolderIcon.astro"
import NextjsIcon from "./icons/NextjsIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import ViteIcon from "./icons/ViteIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import HtmlIcon from "./icons/HtmlIcon.astro"
import CssIcon from "./icons/CssIcon.astro"
import JavascriptIcon from "./icons/JavascriptIcon.astro"
import TypescriptIcon from "./icons/TypescriptIcon.astro"
import MotionIcon from "./icons/MotionIcon.astro"
import ReactQueryIcon from "./icons/ReactQueryIcon.astro"
import ReactFormIcon from "./icons/ReactFormIcon.astro"
import ZodIcon from "./icons/ZodIcon.astro"
import TurboIcon from "./icons/TurboIcon.astro"
import ThreejsIcon from "./icons/ThreejsIcon.astro"
import KeyIcon from "./icons/KeyIcon.astro"
import FolderDevIcon from "./icons/FolderDevIcon.astro"
import ExpressIcon from "./icons/ExpressIcon.astro"
import NestjsIcon from "./icons/NestjsIcon.astro"
import FastApiIcon from "./icons/FastApiIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import SqlIcon from "./icons/SqlIcon.astro"
import PostgresIcon from "./icons/PostgresIcon.astro"
import PrismaIcon from "./icons/PrismaIcon.astro"
import DatabaseIcon from "./icons/DatabaseIcon.astro"
import JwtIcon from "./icons/JwtIcon.astro"
import LockIcon from "./icons/LockIcon.astro"
import PlanetScale from "./icons/PlanetScale.astro"
import SupabaseIcon from "./icons/SupabaseIcon.astro"
import UpstashIcon from "./icons/UpstashIcon.astro"
---

<section id="Skills" class="w-full h-max flex items-center justify-center">
  <div
    class="w-[70%] h-full flex items-start justify-center flex-col gap-12 xxl:w-[95%] ms:items-center"
  >
    <div class="w-full h-max flex items-center justify-start ms:justify-center">
      <h3 class="text-white/80 text-3xl font-medium mt-28">
        My <span class="text-primary">Stack</span> 2024
      </h3>
    </div>
    <div
      class="w-full h-max flex items-start justify-start flex-row ms:justify-center ms:items-center sm:flex-col sm:gap-12 xs:ms:items-start"
    >
      <div class="w-1/2 h-max flex items-start justify-center flex-col gap-1">
        <h4
          class="text-white/80 text-lg flex items-center justify-center flex-row gap-2"
        >
          <FolderDevIcon />
          Frontend
        </h4>
        <span
          class="w-[1.5px] h-max bg-white/30 flex justify-start flex-col gap-8"
        >
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1 mt-4"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Frameworks
            </h4>
            <span
              class="w-[1px] h-[200px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://nextjs.org"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <NextjsIcon />
                  Next.js
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://astro.build"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <AstroIcon />
                  Astro
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://vitejs.dev"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <ViteIcon />
                  Vitejs
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://tailwindcss.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <span class="text-[#27eaff]"><TailwindIcon /></span>
                  Tailwindcss
                </a>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Languages
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://developer.mozilla.org/es/docs/Web/HTML"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <HtmlIcon />
                  HTML
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://developer.mozilla.org/es/docs/Web/CSS"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <CssIcon />
                  CSS
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <JavascriptIcon />
                  <span class="rotate-12 text-[#3e89fa] -ml-4">
                    <TypescriptIcon />
                  </span>
                  <a
                    target="_blank"
                    href="https://developer.mozilla.org/es/docs/Web/JavaScript"
                    >Javascript</a
                  > & <a target="_blank" href="https://www.typescriptlang.org"
                    >Typescript</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Libraries
            </h4>
            <span
              class="w-[1px] h-[320px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.framer.com/motion/"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <MotionIcon />
                  Framer motion
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <ReactQueryIcon />
                  <ReactFormIcon />
                  <a target="_blank" href="https://tanstack.com/query/v3/"
                    >React query</a
                  >
                  &
                  <a target="_blank" href="https://react-hook-form.com"
                    >React hook form</a
                  >
                </h4>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://zod.dev"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <ZodIcon />
                  Zod
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://turbo.build"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <TurboIcon />
                  Turbopack
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://next-auth.js.org"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <KeyIcon />
                  Next-Auth
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://threejs.org"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <ThreejsIcon />
                  ThreeJs
                </a>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div
        class="w-1/2 h-max flex items-center justify-center flex-col gap-1 lg:items-start lg:ml-24 sm:lg:ml-0"
      >
        <h4
          class="text-white/80 text-lg flex items-center justify-center flex-row gap-2"
        >
          <FolderDevIcon />
          Backend
        </h4>
        <span
          class="w-[1px] h-max bg-white/30 flex justify-start flex-col gap-8"
        >
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1 mt-4"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Frameworks
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://expressjs.com/es/"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <ExpressIcon />
                  Express
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://nestjs.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <NestjsIcon />
                  Nestjs
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://fastapi.tiangolo.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <FastApiIcon />
                  FastAPI
                </a>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Languages
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <span class="text-[#3e89fa]"><TypescriptIcon /></span>
                  <a target="_blank" href="https://www.typescriptlang.org"
                    >Typescript</a
                  >
                </h4>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.python.org"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <PythonIcon />
                  Python
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <SqlIcon />
                  <PostgresIcon />
                  <a
                    target="_blank"
                    href="https://developer.mozilla.org/es/docs/Glossary/SQL"
                    >SQL</a
                  > & <a target="_blank" href="https://www.postgresql.org"
                    >Postgres</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Libraries
            </h4>
            <span
              class="w-[1px] h-[150px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://www.prisma.io"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <span class="text-[#063877]"><PrismaIcon /></span>
                  Prisma
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://orm.drizzle.team"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <DatabaseIcon />
                  Drizzle
                </a>
              </div>

              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <h4
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <JwtIcon />
                  <LockIcon />
                  <a target="_blank" href="https://jwt.io">JWT</a> & <a
                    target="_blank"
                    href="https://www.npmjs.com/package/bcrypt">Bcrypt</a
                  >
                </h4>
              </div>
            </span>
          </div>
          <div
            class="relative w-max h-max flex items-center justify-center flex-col gap-1"
          >
            <h4
              class="text-white/80 text-lg flex items-center justify-center flex-row gap-2 ml-3"
            >
              <span class="w-[10px] h-[1px] bg-white/30"></span>
              <FolderIcon />
              Databases
            </h4>
            <span
              class="w-[1px] h-[155px] bg-white/30 flex justify-start flex-col gap-8"
            >
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://planetscale.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3 mt-2"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <PlanetScale />
                  PlanetScale
                </a>
              </div>
              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://supabase.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <SupabaseIcon />
                  Supabase
                </a>
              </div>

              <div
                class="relative w-max h-max flex items-center justify-center flex-col gap-1"
              >
                <a
                  target="_blank"
                  href="https://upstash.com"
                  class="text-white/80 hover:text-white transition-colors duration-200 cursor-pointer text-base flex items-center justify-center flex-row gap-2 ml-3"
                >
                  <span class="w-[10px] h-[1px] bg-white/30"></span>
                  <UpstashIcon />
                  Upstash
                </a>
              </div>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
