---

---

<section
  class="w-full h-[200px] flex items-center justify-center bg-[#050505] mt-24 flex-col gap-8 border-t-white/30 border-b-white/30 border-t-[1px] border-b-[1px]"
>
  <div
    class="w-[80%] h-full flex items-center justify-center flex-col gap-8 md:w-[95%] text-center"
  >
    <h3
      class="text-4xl italic text-primary xl:text-3xl ms:xl:text-2xl ls:ms:xl:text-xl"
    >
      &quot;Programming is about developing effective solutions.&quot;
    </h3>
  </div>
</section>
