---

---

<div
  id="toast"
  class="fixed z-50 top-0 w-52 h-[52px] rounded-md bg-[#070707] border-[1px] border-white/20 opacity-0 transition-all duration-700 center"
>
  <span class="w-full h-full flex items-center justify-center">
    <small class="text-white/80 text-sm fonr-normal"
      >Email copy to the clipboard!</small
    >
  </span>
</div>
