---
import "@fontsource-variable/rubik"
import Toast from "../components/Toast.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/foto-personal-edited.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Toast />
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .active {
    transform: translateX(0);
    transition: all 0.7s ease;
  }

  .appear {
    top: 128px;
    opacity: 1;
    transition: all 0.7s ease;
  }

  .center {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .height {
    height: calc(100dvh - 72px);
  }

  body {
    background-color: #040404;
    font-family: "Rubik", sans-serif;
  }
</style>
